<!DOCTYPE html>
<html>
<head>
<title>Answer</title>

<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: 'css/ie8-grid-foundation-4.css'
});
</script>
</head>
<body>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-12 content ">

          <table align="center" width="1100px" >
              <tr>
                  <th width="500" align="center">ถาม</th>
                  <th width="500" align="center">ตอบ</th>
                  <th width="500" align="center">บันทึก</th>
                  <th width="500" align="center">ลบ</th>
              </tr>
              <tr ng-repeat="question in questions">
                  <td>
                      {{question.questionDes}}
                  </td>
                  <td>
                      <input type="text" ng-model="question.answerDes"></td>
                  </td>
                  <td class="text-center"><a ng-href="#/Answerpage"> <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="addAnswer(question)"></span></a></td>
                  <td class="text-center"><a ng-href="#/Answerpage"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deleteQuestion(question.questionId)"></span></a></td>
              </tr>
          </table>
            
          </div>
          <div class="columns large-4">
            
             
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="columns large-12"> </div>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="credit-row">
  <div class="row">
    <div class="columns large-11 credit"> &copy; College of Arts, Media and Technology<a href="#"> Chiang Mai University</a>
    </div>
  </div>
</div>

<script>
Modernizr.load({
    test: Modernizr.placeholder,
    nope: 'js/placeholder.min.js'
});
function goToNewPage() {
    if (document.getElementById('target').value) {
        window.location.href = document.getElementById('target').value;
    }
}
</script>
<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
    $("img.scrollToTop").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    });
    $('.flexslider').flexslider();
    $('.flexcar').flexslider();
});
</script>
</footer>
</body>
</html>