<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
<head>
    <title>editcontact</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/superfish.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="js/slider/flexslider.css">
    <link rel="stylesheet" href="js/slider/flexcar.css">
    <link href="http://fonts.googleapis.com/css?family=Quando" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,300" rel="stylesheet" type="text/css">
    <script src="js/vendor/custom.modernizr.js"></script>
    <script>
        Modernizr.load({
            // test if browser understands media queries
            test: Modernizr.mq('only all'),
            // if not load ie8-grid
            nope: 'css/ie8-grid-foundation-4.css'
        });
    </script>
    <style>
        .editNews{
            position: fixed;
            top: 30px;
            right: 30px;
        }
    </style>

    <form class="editContact" method="post">
        <a href="#/editContact"> <input type="submit" class="button" name="submit" value="แก้ไข"></a>
    </form>
</head>
<body>
<div class="row">


    <table class="tablee" width="1000" > <form>

        <tr>
            <td colspan="3"  bgcolor="white" width="10">  {{contact.contactPlace}}</td>
            </tr>
        <tr>
            <td colspan="3" bgcolor="white" width="90" align="left"> {{contact.contactTel}} </td>
            </tr>
        <tr>
            <td colspan="3" bgcolor="white" width="900"> <a href="https://www.facebook.com/jdl.chiangmai?fref=ts" style="color: #000066">{{contact.contactFacebook}}</a></td>
        </tr>
            <tr>
                <td  bgcolor="white" width="10"></td>
                 <td bgcolor="white" width="90" align="left"> ชื่อผู้ติดต่อ  </td>
                 <td bgcolor="white" width="900"><input type="text" name="name" placeholder="ชื่อผู้ติดต่อ"></td>
            </tr>
            <tr>
                <td bgcolor="white" width="10"></td>
                <td bgcolor="white" width="90" align="left">Email</td>
                <td bgcolor="white" width="900"><input type="text" name="email" placeholder="Email"></td>
            </tr>
            <tr>
                <td bgcolor="white" width="10"></td>
                <td bgcolor="white" width="90" align="left">หัวข้อ</td>
                <td bgcolor="white" width="900"><input width="30" type="text" name="subject" placeholder="หัวข้อ"></td>
            </tr>
            <tr>
                <td bgcolor="white" width="10"></td>
                <td bgcolor="white" width="90" align="left">ข้อความ</td>
                <td bgcolor="white" width="900"><textarea rows="60" cols="70" class="contacttext"  name="message" placeholder="ข้อความ"></textarea></td>
            </tr>
            <tr>
                <td bgcolor="white" width="10" colspan="2"></td>
                <td bgcolor="white"><input ng-click="addContact()" align="left" type="submit" name="button" value="ส่ง">
                <input align="left" type="submit" name="button" value="ยกเลิก"></td>
            </tr>
            </form>
    </table>
</div>

</body>

</html>