<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>รายละเอียดกิจกรรม</title>
    <style>
    .aa{
        width: 800px;
        height: 600px;
    }
</style>
</head>

<body>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-12 content ">
        <div class="row contact-form">
          <div class="columns large-8">

              <table align="center" width="800px">
                  <tr>
                      <td colspan="4" width="800">
                          <div ng-repeat="picture in news.newsPictureLocation" class="text-center">
                              <img class="aa" ng-src="data: {{picture.pictureType}};base64,{{picture.pictureLocation}}">
                          </div>
                      </td>
                  </tr>

                  <tr>
                      <td width="200px"></td>
                      <th width="150" align="left"> ชื่อกิจกรรม </th>
                      <td> {{news.newsName}}</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td width="200px"></td>
                      <th width="150" align="left">วัน-เวลา จัดกิจกรรม</th>
                      <td>{{news.newsDate|}}</td>
                      <td>{{news.newsTime}}</td>
                  </tr>
                  <tr>
                      <td width="200px"></td>
                      <th> รายละเอียดกิจกรรม</td>
                      <td colspan="2"> {{news.newsPlace}} </td>
                      <td></td>
                  </tr>

              </table>

            
            
          </div>
          <div class="columns large-4">
            
             
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="columns large-12"> </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
