<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>รายละเอียดกิจกรรม</title>
</head>

<body>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-12 content ">
        <div class="row contact-form">
          <div class="columns large-8">
            
            <table align="center" width="1100px">
            <tr>
            <td width="200" rowspan="2" align="center">  <img src="picture/history.jpg" alt=""> </th> 
            <th width="150" align="left"> ชื่อ กิจกรรม </td>
            <td> ปอยหลวง</td> 
            </tr>
            <tr>
            <th width="150" align="left">วัน-เวลา จัดกิจกกรม</th>
            <td>22/01/58</th>
            </tr> 
            <tr>
           <th> รายละเอียดกิจกรรม</td>
           <td colspan="2"> กกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกก </td>
            </tr> </table>
           
            
            
          </div>
          <div class="columns large-4">
            
             
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="columns large-12"> </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
