
<div class="row content-wrapper" align="left">
  <h1 class="page-title services">อัพโหลด แกลเลอรี่</h1> 
</div>
<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
        <ul class="row">
            <form  novalidate flow-init>
                <table align="center">
            <tr><td> ชื่อ แกลเลอรี่</td>
	            <td><textarea class="galleryname" ng-model="gallery.galleryName"> </textarea> </td>
            </tr>
            <tr><td colspan="2" align="center" bgcolor="white"><input align="middle" type="file"  flow-btn /></td>
            </tr>
            <tr><td colspan="2" align="center"><input align="middle" type="file" flow-file-added="!!{jpg:1}[$file.getExtension()]"  flow-btn /></td></tr>

                    <tr ng-repeat="file in $flow.files">
                         <td colspan="2" align="center">{{file.name}}</td></tr>
                         <!--to see the preview image file-->
                    <tr>
                         <td bgcolor="white"><img flow-img="$flow.files[{{$index}}]" class="thumbnail" /></td>
                         <!--ng-click="addHistory($flow)" -->
                     </tr>
<tr>
	<td colspan="2" align="center"><input name="btnSubmit" type="submit" ng-click="addGallery($flow)" value="บันทึก"/>
        <input name="btnSubmit" type="submit" value="ยกเลิก"></td>
</tr>
</table>

            </form>
        </ul>
      </div>
      <div class="columns sidebar large-4 large-offset-1">
      
     
      </div>
    </div>
  </div>
</div>
