<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="utf-8">
</head>

<body>
<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-12 content ">
        <h1 class="page-title">ติดต่อ วัดเจดีย์หลวง</h1>
          <td height="10"><textarea rows="10" cols="6" ng-model="contact.contactPlace"> </textarea></td><br/>
          <td height="10"><textarea rows="10" cols="6" ng-model="contact.contactTel"> </textarea></td><br/>
          <td height="10"><textarea rows="10" cols="6" ng-model="contact.contactFacebook"> </textarea></td><br/>
        <div class="row contact-form">
          <div class="columns large-8">
            
           <input ng-click="editContact()" align="left" type="button" name="btnSubmit" value="ตกลง">  <input type="button" name="btnSubmit" value="ยกเลิก">
          </div>
          <div class="columns large-4">
            
             
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="columns large-12"> </div>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="credit-row">
  <div class="row">
    <div class="columns large-11 credit"> &copy; College of Arts, Media and Technology<a href="#"> Chiang Mai University</a>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
    $("img.scrollToTop").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    });
    $('.flexslider').flexslider();
    $('.flexcar').flexslider();
});
</script>
</footer>
</html>