<!DOCTYPE html>
<html>
<head>

    <style>
        .editHistory{
            position: fixed;
            top: 30px;
            right: 30px;
        }
    </style>

    <form class="editHistory" method="post">
        <a href="#/editHistory"> <input type="submit" class="button" name="submit" value="แก้ไข"></a>
    </form>

   </head>

  <div class="row">
<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-4 content sidebar">
        <h1 class="page-title services">วัดเจดีย์หลวง</h1>
          <div ng-repeat="picture in history.historyPictureLocation" class="text-center">
          <img ng-src="data: {{picture.pictureType}};base64,{{picture.pictureLocation}}" class="thumbnail">
          </div>
                     <!-- <p> <img src="picture/history.jpg" alt=""> </p> -->

      </div>
        </div>
      <div class="columns large-8">
    
        <div class="row">
        
           <font color="#000000">
               {{history.historyDes}}
           </font>
     
     </div></div></div></div></div></body>
<footer class="footer">
  <div class="row"></div>
</footer>
<div class="credit-row">
  <div class="row">
    <div class="columns large-11 credit"> &copy; College of Arts, Media and Technology<a href="#"> Chiang Mai University</a> Design by: <a href="http://topwebsitetemplates.org">PowerPuff Girls w/</a></div>
  </div>
</div>

</html>
