<!DOCTYPE html>
<html>
<head>
<title>News</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/css/foundation.min.css">
<link rel="stylesheet" href="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/css/superfish.css">
<link rel="stylesheet" href="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/css/stylesheet.css">
<link rel="stylesheet" href="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/slider/flexslider.css">
<link rel="stylesheet" href="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/slider/flexcar.css">
<link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,300' rel='stylesheet' type='text/css'>
<script src="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/vendor/custom.modernizr.js"></script>
<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: 'css/ie8-grid-foundation-4.css'
});
</script>
    <div align="center">
      
       </div></div>
</head>
<body>
    <div class="row">
    
     <h1 class="page-title services" align="center">กิจกรรมวัดเจดีย์หลวง</h1>
            
            <table width="1000" align="center">
            <tr>
              <td rowspan="2"> <div class="columns large-4 content sidebar">
              <p align="center"> <img src="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/picture/history.jpg" alt=""> </p>
              </td>
              <td>
        <h1 class="page-title services" align="center">กิจกรรมที่1</h1>
        	</td>
            <tr>
            <td> </td>
            <td> รายละเอียดกิจกรรม </td>
            </tr>
       
			
                
              </td>  </table>
   
</div>
</body>
<footer>
<div class="credit-row">
  <div class="row">
    <div class="columns large-11 credit"> &copy; College of Arts, Media and Technology<a href="#"> Chiang Mai University</a>
    </div>
  </div>
</div>

<script src="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/jquery.min.js"></script>
<script src="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/hoverIntent.js"></script>
<script src="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/superfish.js"></script>
<script src="../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/slider/jquery.flexslider.js"></script>
<script>
Modernizr.load({
    test: Modernizr.placeholder,
    nope: 'js/placeholder.min.js'
});
function goToNewPage() {
    if (document.getElementById('target').value) {
        window.location.href = document.getElementById('target').value;
    }
}
</script>
<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
    $("img.scrollToTop").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    });
    $('.flexslider').flexslider();
    $('.flexcar').flexslider();
});
</script>
</footer>
</html>