<!DOCTYPE html>
<html>
<head>
<title>News</title>
<meta charset="utf-8">
<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: 'css/ie8-grid-foundation-4.css'
});
</script>
    <div align="center">
      
       </div></div>
</head>
<body>
    <div class="row">
    
     <h1 class="page-title services" align="center">กิจกรรมวัดเจดีย์หลวง</h1>
            
            <table width="1000" align="center">
            <tr ng-repeat="news in allNews">
            <td>
                <div ng-repeat="picture in news.newsPictureLocation" class="text-center">
                    <a href="#"><img ng-src="data: {{picture.pictureType}};base64,{{picture.pictureLocation}}" class="thumbnail"></a>
                </div>
            </td>
            <td>
               <a href="#"> {{news.newsName}}</a>
        	</td>
            <tr>
            <td> </td>
            <td> รายละเอียดกิจกรรม </td>
            </tr>
            </table>
   
</div>
</body>
<footer>
<div class="credit-row">
  <div class="row">
    <div class="columns large-11 credit"> &copy; College of Arts, Media and Technology<a href="#"> Chiang Mai University</a>
    </div>
  </div>
</div>

<script>
Modernizr.load({
    test: Modernizr.placeholder,
    nope: 'js/placeholder.min.js'
});
function goToNewPage() {
    if (document.getElementById('target').value) {
        window.location.href = document.getElementById('target').value;
    }
}
</script>
<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
    $("img.scrollToTop").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    });
    $('.flexslider').flexslider();
    $('.flexcar').flexslider();
});
</script>
</footer>
</html>