<!DOCTYPE html>
<html>
<head>
<title>News</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/css/foundation.min.css">
<link rel="stylesheet" href="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/css/superfish.css">
<link rel="stylesheet" href="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/css/stylesheet.css">
<link rel="stylesheet" href="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/slider/flexslider.css">
<link rel="stylesheet" href="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/slider/flexcar.css">
<link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,300' rel='stylesheet' type='text/css'>
<script src="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/vendor/custom.modernizr.js"></script>
<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: 'css/ie8-grid-foundation-4.css'
});
</script>
    <div align="center">
        <table width="1250">
   <tr>
        <td rowspan="2" width="500"><a href="login.html"><img src="picture/logo.png" alt="" class="logo"></a></td> 
        <td align="right">Admin</td>
   <tr> 
  		<td align="right" bgcolor="#FFFFFF"><form id="contact-form" method="post" action="editNews.html"><input type="submit" class="button" name="submit" value="แก้ไข"></form></td>
  </tr>
  <tr align="center" height="70"><td colspan="2" align="center" bgcolor="#fff">
              <ul class="sf-menu large-12">
                <li class="active"><a href="home.html">หน้าแรก</a></li>
                <li><a href="News.html">ข่าวสาร</a></li>
                <li><a href="History.html">ประวัติ</a></li>
                <li><a href="Question.html">ถาม-ตอบ</a></li>
                <li><a href="Gallery.html">แกลเลอรี่</a></li>
                <li><a href="Map.html">แผนที่</a></li>
                <li><a href="Contact.html">ติดต่อวัด</a></li>
              </ul>
           </td>
     </tr>
     </table>
       </div></div>
</head>
<body>
    <div class="row">
            <div class="flexslider">
            
            <ul class="slides">
                <li> <img src="picture/slideNew1.jpg" alt=""> </li>
                <li> <img src="picture/slideNew2.jpg" alt=""> </li>
                <li> <img src="picture/slideNew3.jpg" alt=""> </li>
                <li> <img src="picture/slideNew4.jpg" alt=""> </li>
              </ul>
       
    </div>
</div>
</body>
<footer>
<div class="credit-row">
  <div class="row">
    <div class="columns large-11 credit"> &copy; College of Arts, Media and Technology<a href="#"> Chiang Mai University</a>
    </div>
  </div>
</div>

<script src="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/jquery.min.js"></script>
<script src="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/hoverIntent.js"></script>
<script src="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/superfish.js"></script>
<script src="../../../../../../../../Users/PimpapornChaichompoo/Downloads/templateSWCon/InterfaceSwCon/js/slider/jquery.flexslider.js"></script>
<script>
Modernizr.load({
    test: Modernizr.placeholder,
    nope: 'js/placeholder.min.js'
});
function goToNewPage() {
    if (document.getElementById('target').value) {
        window.location.href = document.getElementById('target').value;
    }
}
</script>
<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
    $("img.scrollToTop").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    });
    $('.flexslider').flexslider();
    $('.flexcar').flexslider();
});
</script>
</footer>
</html>