<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ownquestion</title>

<style>
th.thh{
	background-color: #ededed;
}

</style>
</head>

<body>

<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-12 content ">
        <h1 class="page-title">คำถามส่วนตัว</h1>

        <div class="row contact-form">
          <div class="columns large-8">
            
            <table align="center" width="900px" >
            <tr>
            <th class="thh" width="500" align="center">คำถาม</th>
            <th class="thh"  width="400" align="center">คำตอบ</th>
            </tr> 
            <tr>
         <td style="background-color: #ffffff">A</td>
         <td style="background-color: #ffffff">B</td>
            </tr> </table>
           
            
            
          </div>
          <div class="columns large-4">
            
             
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>
