<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="utf-8">

<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: 'css/ie8-grid-foundation-4.css'
});
</script>

    <style>

    </style>

</head>

<body>
<div class="row content-wrapper">
  <div class="columns large-12">
    <div class="row wrapper">
      <div class="columns large-12 content ">
        <h1 class="page-title">คำถาม</h1>

        <div class="row contact-form">
          <div class="columns large-8">
            
            <table align="center" width="1000" >
            <tr>
            <th width="600" align="center">คำถาม</th>
            <th width="400" align="center">คำตอบ</th>

            </tr>
            <tr ng-repeat="question in questions">
            <td>
                {{question.questionDes}}
            </td>
                <td>
                    {{question.answerDes}}

                </td>

            </tr>

            </table>

              <form>
                  สอบถาม <br/>
                  ชื่อ    <input ng-model="question.username" type="text" id="name" placeholder="ชื่อผู้ถาม" size="20">
                  Email <input type="email" id="email" placeholder="email@xxxxx.com" size="35">
                  ข้อความ <textarea class="questiontextarea" ng-model="question.questionDes" placeholder="คำถาม" ></textarea>
                  <input ng-click="addQuestion()" align="left" type="submit" name="button" value="ส่ง">
                  <input align="left" type="submit" name="button" value="ยกเลิก">
              </form>

          </div>
          <div class="columns large-4">
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="columns large-12"> </div>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="credit-row">
  <div class="row">
    <div class="columns large-11 credit"> &copy; College of Arts, Media and Technology<a href="#"> Chiang Mai University</a>
    </div>
  </div>
</div>
<script>
Modernizr.load({
    test: Modernizr.placeholder,
    nope: 'js/placeholder.min.js'
});
function goToNewPage() {
    if (document.getElementById('target').value) {
        window.location.href = document.getElementById('target').value;
    }
}
</script>
<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
    $("img.scrollToTop").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    });
    $('.flexslider').flexslider();
    $('.flexcar').flexslider();
});
</script>
</footer>
</body>
</html>